<!DOCTYPE html>
<html>
<head>
<title>Futurecraft Game Recommendation System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Futurecraft Game Recommendation System" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- //web font -->
</head>
<body>
<h1>Game Recommendation System</h1>
<div class="main-agileits">
<!--//form-ends-here-->
<div class="right-map-w3-agile">
	<h3>Login</h3>
		<form action="#" method="post">
		<div class="inputs-w3ls">
			<a class="fa fa-user" aria-hidden="true"></a>
			<input type="text" name="username" placeholder="username" required><br>
		</div>
		<div class="inputs-w3ls">
			<a class="fa fa-key" aria-hidden="true"></a>
			<input type="password" name="password" placeholder="password" required><br>
		</div>	
				<input type="submit" name="action" value="login">  
		</form> 
	</div>
<!--//form-ends-here-->
		<div class="right-map-w3-agile">
		<h3>Register</h3>
			<form action="#" method="post">
			<div class="inputs-w3ls">
				<a class="fa fa-user" aria-hidden="true"></a>
				<input type="text" name="username" placeholder="username" required><br>
			</div>
			<div class="inputs-w3ls">
				<a class="fa fa-key" aria-hidden="true"></a>
				<input type="password" name="password" placeholder="password" required><br>
			</div>	
					<input type="submit" name="action" value="register">  
			</form> 
		</div>
</body>
</html>